.form-section {
    background-color: #ffffff;
    width: 100%;
}

.form-section h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 0;
    text-align: center;
    border-bottom: 1px solid black;
}

.col-50 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-50 select {
    width: 48%;
    margin-bottom: 20px;
}

.row-100 label {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
}

.row-100 label input {
    width: 100%;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
}

button {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0.5em 2em;
    border: 0.1em solid #FFFFFF;
    background-color: #00a8e8;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    text-align: center;
    font-size: 1em;
}

input,
select {
    box-sizing: border-box;
    height: 50px;
}

.terms-container {
    display: flex;
    width: 48%;
}

.terms-container label,
input[type="checkbox"] {
    margin: auto;
    margin-right: 10px;
    margin-left: 0;
}


label {
    margin: 10px 0;
    position: relative;
    display: inline-block;
}

span {
    padding: 10px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0.5;
}

input:focus+span,
input:not(:placeholder-shown)+span {
    opacity: 1;
    transform: scale(0.75) translateY(-30%) translateX(-15px);
}

.col-50 label {
    width: 48%;
}

.two-select {
    margin-top: 10px;
}

.col-50 label input {
    width: 100%;
}

@media screen and (max-width: 600px) {

    .col-50 label {
        width: 100% !important;
    }

    .col-50 select {
        width: 100%;
    }

    .terms-container {
        width: 80%;
    }

}